

<button type="button" class="btn btn-light border" data-toggle="modal" data-target="#new-department-dialog">
    <i class="fas fa-file"></i> Create New Department
</button>

<button type="button" class="btn btn-light border" data-toggle="modal" data-target="#new-user-dialog">
    <i class="fas fa-file"></i> Create New User for Department
</button>

<!-- New department dialog -->
<div class="modal fade" id="new-department-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Tạo phòng ban mới</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Department Name</label>
                    <input type="text" placeholder="Department name" class="form-control" id="newDepartment" />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="newDepartment()">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- New user for Phòng/khoa dialog -->
<div class="modal fade" id="new-user-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tạo user mới</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" placeholder="Name" class="form-control" id="newName"/>
                </div>
                <div class="form-group">
                    <label for="name">Userame</label>
                    <input type="text" placeholder="Username" class="form-control" id="newUsername"/>
                </div>
                <div class="form-group">
                    <label for="name">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password" id="newPassword"/>
                </div>
                <div class="form-group">
                    <label for="name">Confirm Password</label>
                    <input type="password" name="confpassword" class="form-control" placeholder="Password" id="newConfpassword"/>
                </div>

                <div class="form-group">
                    <label for="name">Chọn Phòng ban</label>
                    <select class="js-example-basic-multiple" style="width: 100%;" name="states[]" multiple="multiple">
                        <option value="AL">Alabama</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="createUser()">Lưu</button>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
  $('.js-example-basic-multiple').select2();
});
</script>