<div class="col-lg-9">
    <div class="blog-sec right-pading">
        <div class="blog-sec right-pading">
            <div class="l-post">
                <div class="l-post-meta">
                    <div class="detail-page">
                        <div class="detail-meta">
                            <h2>Thông báo về việc Nộp học phí học kỳ 1 năm học 2021-2022 đợt 3 (đợt cứu
                                xét cho các
                                trường hợp trễ hạn)</h2>

                            <div class="post-time">
                                <div class="author-thumb">
                                    <span><a href="#" title="">Phòng Đại Học</a></span>
                                </div>
                                <span class="post-date">
                                    <i class="fa fa-calendar"></i>
                                    <a title="" href="#">03/12/2021</a>
                                </span>
                            </div>
                            <p>
                                Thông báo về việc Nộp học phí học kỳ 1 năm học 2021-2022 đợt 3 (đợt cứu
                                xét cho các
                                trường hợp trễ hạn). Trong đó:
                                <br>- Sinh viên không liên hệ gia hạn học phí: Đóng từ ngày 06/12/2021
                                đến 10/12/2021
                                <br>- Sinh viên đã được giải quyết gia hạn học phí: Đóng từ 22/12/2021
                                đến 24/12/2021.

                                <br>Đây là đợt đóng học phí cuối cùng, sinh viên vẫn không theo dõi
                                thông báo và không
                                hoàn
                                thành học phí theo quy định sẽ
                                nhận điểm F cuối kỳ HK1/21-22. Chi tiết vui lòng xem trong thông báo.
                            </p>


                            <div class="tag-n-cat">
                                <div class="tags">
                                    <span><i class="fa fa-filter"></i> Department:</span>
                                    <a href="#" title="">Phòng Đại Học</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
