<div class="theme-layout">
    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row merged20" id="page-contents">
                            <div class="col-lg-3">
                                <ul class="container we-comet">
                                    <li class="flex">
                                        <div class="cm-content">Box 1</div>
                                        <div class="cm-content">Box 2</div>
                                        <div class="cm-content">Box 3</div>
                                        <div class="cm-content">Box 4</div>
                                        <div class="cm-content">Box 5</div>
                                        <div class="cm-content">Box 6</div>
                                        <div class="cm-content">Box 7</div>
                                        <div class="cm-content">Box 8</div>
                                        <div class="cm-content">Box 9</div>
                                        <div class="cm-content">Box 10</div>
                                        <div class="cm-content">Box 11</div>
                                        <div class="cm-content">Box 12</div>
                                        <div class="cm-content">Box 13</div>
                                        <div class="cm-content">Box 14</div>
                                        <div class="cm-content">Box 15</div>
                                        <div class="cm-content">Box 16</div>
                                    </li>
                                
                                    <a href="#" id="loadMore">Load More</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
